<content class="col-md-6">
    <h1>
        Por que?
    </h1>
    <ul>
        <li>
            It's hard to decide what to each for lunch.
        </li>
        <li>
            Let this magical website pick for you.
        </li>
    </ul>
    <h1>
        Magnets: How do they work?
    </h1>
    <ol>
        <li>
            Fill in your street address and zip code.
        </li>
        <li>
            Pick a type of food.
        </li>
        <li>
            ????
        </li>
        <li>
            Profit!
        </li>
    </ol>
</content>
<content class="col-md-6">
    <h1>Ready?</h1>
    <button class="btn btn-lg btn-primary" ng-click="go()">GET IN THERE</button>
</content>